<template name="buttons">
    <button id="default" class="navbar-btn btn-default btn"><span class="glyphicon glyphicon-glass"></span> Out On The Town </button>
    <button id="beach_time" class="navbar-btn btn-default btn"><span class="glyphicon glyphicon-sunglasses"></span> Beach Time </button>
    <button id="selfie" class="navbar-btn btn-default btn"><span class="glyphicon glyphicon-camera"></span> Selfie </button>
    <button id="single" class="navbar-btn btn-default btn"><span class="glyphicon glyphicon-user"></span> The Single Life </button>
</template>
